.darrow {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	margin-bottom: 3px;
	margin-left: 2px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.rarrow {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 1.5px;
	margin-bottom: 2px;
	margin-left: 2px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.larrow {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 1.5px;
	margin-bottom: 2px;
	margin-left: 2px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

body {
	margin: 0;
}

.topnav {
	overflow: hidden;
	border-bottom: 1px inset #d3d3d3;
	background-color: #F7F7F7;
	display: flex;
	align-items: center;
	font-size: 15px;
}

.topnav * {
	font-family: Modesto;
	font-weight: bold;
	color: #1c1c1c;
	text-decoration: none;
	text-align: left;
}

.topnav a {
	float: left;
	display: block;
	padding: 8px 16px;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown-resize {
	width: 100%;
}

.dropdown .dropbtn {
	border: none;
	outline: none;
	padding: 8px 16px;
}

.dropbtn {
	font-size: inherit;
	background-color: inherit;
}

.dropdown-content {
	display: none;
	font-size: 14px;
	position: absolute;
	background-color: #f8f8f8;
	width: 320px;
	box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
	z-index: 1;
}

.dropdown-content2 {
	display: none;
	font-size: 13px;
	position: absolute;
	background-color: #f8f8f8;
	width: 260px;
	box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
	z-index: 1;
}

.dropdown-content2>a {
	width: calc( 100% - 32px);
	padding: 5px 16px;
}

.topnav a:hover,
.topnav a:hover>*,
.dropdown:hover>.dropbtn>*,
.dropdown:hover>.dropbtn {
	color: #980000;
	border-color: #980000;
}

.dropdown-content>a:hover {
	color: #980000;
	border-color: #980000;
}

.dropdown:hover>.dropdown-content,
.dropdown:hover>.dropdown-content2 {
	display: block;
}

.d20 {
	margin-left: -15px;
	margin-top: 5px;
}

.icon {
	display: none !important;
}

@media screen and (min-width: 850px) {
	.dropdown-content2 {
		top: 0px;
		left: 320px;
	}
	.dropdown>div>*:hover {
	    background-color: #f4f4f4;
    }
}

@media screen and (max-width: 850px) {
	.topnav.responsive>a:first-child {
		border-bottom: 1px inset #d3d3d3;
	}
	.quickSignup,
	.d20 {
		display: none !important;
	}
	.topnav a:not(:first-child),
	.dropdown .dropbtn {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block !important;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
		padding-top: 14px;
	}
	.topnav.responsive a {
		float: none;
		display: block;
	}
	.topnav.responsive .dropdown {
		float: none;
	}
	.topnav.responsive .dropdown-content {
		position: relative;
	}
	.topnav.responsive .dropdown-content2 {
		position: relative;
	}
	.topnav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
	}
	.topnav {
		display: block;
	}
	.dropdown-content,
	.dropdown-content2 {
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
		width: 100%;
	}
	.dropdown>*:not(button) {
		padding-left: 15px !important;
	}
}
