@font-face {
				font-family: 'Modesto W01 Bold Text';
				src: url('modesto.eot');
				src: url('modesto.eot') format('embedded-opentype'),
					url('modesto.woff2') format('woff2'),
					url('modesto.woff') format('woff'),
					url('modesto.ttf') format('truetype'),
					url('modesto.svg#modesto') format('svg');
			}
	nav > a, .subnav tr td > a {
	font-family:"Modesto W01 Bold Text";
	}
